body{

font-family: Arial;
margin:40px;

}

#box{

width:200px;
height:100px;
background:lightblue;
text-align:center;
line-height:100px;
margin:20px;

}

#animateBox{

width:100px;
height:100px;
background:red;
position:relative;

}

.highlight{

background:yellow;
font-weight:bold;

}